* {box-sizing: border-box;}
  html{
      font-family: 'Montserrat' ;
  }
  body{
    margin: 0;
  }
  .wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
aside{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  width: 20%;
  height: 100%;
  background-color: #E9E9E9;
}
aside > .nav-bar > p{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
aside > .nav-bar > ul{
  list-style: none;
}
aside > .nav-bar > ul > a > li{
  margin-bottom: 25px;
}
aside > ul a:hover{
  margin-left: 3px;
}
.logo{
  display: flex;
  justify-content: center;
  height: 25%;
}
.logo > img{
  width: 35%;
}
.flex{
  width: 80%;
}
header{
  text-align: center;
}
header > p{
  color: #c0a97a;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 3px -1px 0px #F1EED5;
  font-size: 40px;
}
  .top-pannel{
    display: flex;
    justify-content: flex-end;
    width: 99%;
  }

  .catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
  }

  .catalog > section {
    flex: 0 0 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 5px;
    min-width: 290px;
    height: 55%;
    align-content: baseline;
  }
  .catalog > section > img{
    width: 100%;
}
#list2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: baseline;
  flex-direction: column;
}

  #list2.catalog > section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 15px;
}
.item-description{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-buttons{
  width: 15%;
  display: flex;
  align-items: center;
}
.item-img{
  width: 100%;
}
.item-img >  img{
  width: 100%;
}
.item-name {
  width: 80%;
  color: #5e5e5e;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
    }
.item-name a {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 13px;
  margin: 15px 0 5px;
  display: block;
  position: relative;
  transition: .3s ease-in-out;
}

.item-namee a:hover {color: #c0a97a;}
.item-name:hover a:after {background: #c0a97a;}
.item-price {
  font-size: 21px;
  color: #c0a97a;
  font-weight: 700;
  padding-top: 5px;
}


a  {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  padding: 5px 11px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  /* background: rgba(204, 153, 102, 0.5); */
  width: 34px;
  height: 34px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 10px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: rgba(204, 153, 102, 0.5);
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

